
<div id="index">
  <div class="jumbotron">
    <div class="container">
      <div class="grape-stuff">
        <h1>From the vine!</h1>
        <img src="/images/grape-floater.png" alt="" />
      </div>

      <p>Bringing you the world's finest varietals from our team of passionate professionals. Our premiere selection is highly curated and tailored to only the finest palettes.</p>
      <p><a  href="http://subscription.com-sub.info/Wine-Spectator/Welcome">Learn more »</a></p>
    </div>
  </div>


</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row row1">
    <div class="col-md-4">
      <h2>Barolo, Denominazione di Origine Controllata e Garantita (DOCG)</h2>
      <p>
        Barolo is a traditional hillside village in the rolling hills of Piedmont, northwestern Italy. The vineyards and cantine (wineries) there have long been famous for producing some of Italy's very finest red wines – predominantly from the region's signature grape variety, Nebbiolo. Fragrant, tannic Barolo wine is so revered that it was one of just three wines awarded DOCG status on the day that the classification was introduced in July 1980 (the other two were Brunello di Montalcino and Vino Nobile di Montepulciano).
      </p>
      
    </div>
    <div class="col-md-4">
      <h2>Cabernet Franc, '76</h2>
      <p>
        Cabernet Franc is believed to have been established in the Libournais region of southwest France sometime in the 17th century, when Cardinal Richelieu transported cuttings of the vine to the Loire Valley. They were planted at the Abbey of Bourgueil under the care of an abbot named Breton, whose name became associated with the grape.
      </p>
      
   </div>
    <div class="col-md-4">
      <h2>Montepulciano,  Denominazione di Origine Controllata e Garantita (DOCG)</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      
    </div>
  </div>

  <hr>

  <footer>
    <p>© 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->
